# Authentication
JWT_SECRET=

# MongoDB Connections
MONGO_URI_AUTH=
MONGO_URI_PATIENT=
MONGO_URI_DOCTOR=
MONGO_URI_APPOINTMENT=
MONGO_URI_TELEMEDICINE=
MONGO_URI_PAYMENT=
MONGO_URI_NOTIFICATION=
MONGO_URI_AI=
